.about-us {
  text-align: justify;
}

div.img {
  display: flex;
  justify-content: right;
}

section.location {
  text-align: center;
}

iframe {
  border: 0;
  min-width: 100%;
  min-height: 23rem;
  border-radius: 1rem;
}

.gallery {
  position: relative;
}

.carousel {
  display: flex;
  gap: 1rem;
  transition: 600ms;
}

.gallery .button {
  opacity: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50rem;
  background-color: rgba(0, 0, 0, 0.541);
  border: none;
  cursor: pointer;
}

.gallery .button:hover {
  background-color: rgba(0, 0, 0, 0.63);
}

.gallery .button.right {
  right: -5rem;
}

.gallery .button.left {
  left: -5rem;
}

.modal {
  display: none;
}

.modal.activated {
  top: 0px;
  left: 0px;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.897);
  z-index: 99999999;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal #modal-image {
  height: 98%;
}

.modal .close-button {
  float: right;
  position: absolute;
  right: 3rem;
  top: 1.5rem;
  border: none;
  background: none;
}

.modal .close-button * {
  font-size: 2rem;
  cursor: pointer;
}

.gallery img {
  cursor: pointer;
  transition: 200ms;
}

.gallery img:hover {
  transform: scale(.99);
}

body.noscroll {
  overflow: hidden;
}

#content {
  overflow-x: hidden;
}
