.about-us {
  text-align: justify;
}

.opening-hours img {
  width: 40vw;
  border-radius: 1rem;
}

.location {
  text-align: center;
}

iframe {
  border: 0;
  min-width: 100%;
  min-height: 23rem;
  border-radius: 1rem;
}